<h1> Please set new password for your account </h1>

<form action="/users/set_new_password" method="post">
						<input name="email" type="text" value="<%= params[:email] %>">

	Password: <input name="password" type="password">
	Password confirmation:
						<input name="password_confirmation" type="password_confirmation">
						<input name="token" type="hidden" value="<%= params[:token] %>">
						<input type="submit" value="Set password">
</form>